.blob-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
  }
  
  .blob {
    position: absolute;
    width: 1000px;  
    height: 700px;
    filter: blur(100px); /* Increase blur for a softer look */
    
    animation: moveBlobs 15s infinite ease-in-out alternate, opacityChange 8s infinite ease-in-out alternate;
  }
  
  .blob1 {
    width: 1000px;  
    height: 700px;
    top: -10%;
    left: 5%;
    animation-delay: 0s;
  }
  
  .blob2 {
    width: 900px;  
    height: 1000px;
    top: 20%;
    left: 0%;
    animation-delay: 3s;
  }
  
  .blob3 {
    top: -60%;
    left: 50%;
    width: 1065px;  
    height: 1130px;
    animation-delay: 6s;
  }
  .blob4 {
    top: 60%;
    right: 0%;
    width: 1065px;  
    height: 1130px;
    animation-delay: 6s;
  }
  
  @keyframes moveBlobs {
    0% {
      transform: translateX(0) translateY(0) scale(1);
    }
    25% {
      transform: translateX(-100px) translateY(50px) scale(1.2);
    }
    50% {
      transform: translateX(100px) translateY(-50px) scale(1.1);
    }
    75% {
      transform: translateX(-150px) translateY(100px) scale(1.3);
    }
    100% {
      transform: translateX(150px) translateY(-100px) scale(1);
    }
  }
  
  @keyframes opacityChange {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    75% {
      opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
  }
  